img#background{
    top:-50px;
    z-index:-1;
    width: 100%;
}
a{
    list-style: none;
}

p{
    font-size: 14px;
}
.imgBody{
    top: -20px;
    z-index: -1;
}
#box2{
    color: black;
    background: rgba(255, 235, 205, 0.13);
}
#headingOne, #headingTwo{
    background: rgb(52, 58, 64);
    height: 50px;
    margin: 0;
    padding: 3px;
}
